body:after {
    content: "";
    background: url("../assets/cat-background.png");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

h1 {
    font-family: "Finger Paint", cursive;
    font-size: 3em;
    text-align: center;
}

.weatherImage {
    display: none;
}


.temperatureContainer, #location {
    font-family: 'The Girl Next Door', cursive;
    text-align: center;
    font-size: 2em;
}

.temperatureContainer {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}

.temperature {
    max-width: 60px;
    margin: 0 0.7em 0 0;
    font-size: 2.5em;
    display: inline-block;
}

#temperature {
    padding-right: 0.5em;
}

#location {
    margin-bottom: 0;
}

#circle {
    position: absolute;
    top: -0.1em;
    left: 1.4em;
    padding-top: -2em;
    color: rgb(86, 86, 149);
}

#celsius {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 1.7em;
    cursor: pointer;
    color: rgb(86, 86, 149);
}

#fahrenheit {
    text-decoration: none;
    display: none;
    position: absolute;
    left: 1.7em;
    cursor: pointer;
    color: rgb(86, 86, 149);
}


